# Load the packages

Dash

In [1]:
pip install dash

Requirement already satisfied: dash in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (2.10.2)
Requirement already satisfied: dash-html-components==2.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash) (5.0.0)
Requirement already satisfied: Werkzeug<2.3.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash) (2.0.3)
Requirement already satisfied: Flask<2.3.0,>=1.0.4 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash) (1.1.2)
Requirement already satisfied: dash-core-components==2.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash) (5.9.0)
Requirement already satisfied: itsdangerous>=0.24 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash) (2.0.1)
Requirement already satisfied: click>=5.1 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash) (8.1.3)
Requirement already satisfied: Jinja2>=2.10.1 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash) (2.11.3)
Requirement already satisfied: tenacity>=6.2.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Jinja2>=2.10.1->Flask<2.3.0,>=1.0.4->dash) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import dash_core_components as dcc
from dash import dcc
import dash_html_components as html
from dash import html
import plotly.express as px
import pandas as pd

/var/folders/cc/d76w0mdx5xv2ss79fzq_b6240000gn/T/ipykernel_26568/680892360.py:1: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/var/folders/cc/d76w0mdx5xv2ss79fzq_b6240000gn/T/ipykernel_26568/680892360.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

# Load the data

In [3]:
df = pd.read_csv('/Users/jayshreenohar/Downloads/Invoice_data.csv')

In [4]:
df

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200561861,CO corporation,NaN,2020.0,1.930797e+09,2020-04-21,20200417,20200421,20200506.0,USD,RV,1.0,NaN,3187.86,20200421.0,NAA8,1.930797e+09,1
49996,U001,0200769623,WAL-MAR co,2019-09-03 00:00:00,2019.0,1.929744e+09,2019-08-15,20190814,20190815,20190830.0,USD,RV,1.0,NaN,6766.54,20190815.0,NAH4,1.929744e+09,0
49997,U001,0200772595,SAFEW associates,2020-03-05 00:00:00,2020.0,1.930537e+09,2020-02-19,20200218,20200219,20200305.0,USD,RV,1.0,NaN,6120.86,20200219.0,NAA8,1.930537e+09,0
49998,U001,0200726979,BJ'S llc,2019-12-12 00:00:00,2019.0,1.930199e+09,2019-11-27,20191126,20191127,20191212.0,USD,RV,1.0,NaN,63.48,20191127.0,NAA8,1.930199e+09,0
49999,U001,0200020431,DEC corp,2019-01-15 00:00:00,2019.0,1.928576e+09,2019-01-05,20190105,20190105,20190124.0,USD,RV,1.0,NaN,1790.30,20190101.0,NAM4,1.928576e+09,0

# Inspect the data

Inspect the dimension, there should be 19 columns and 50000 entries

In [5]:
df.shape

(50000, 19)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   buisness_year           50000 non-null  float64
 5   doc_id                  50000 non-null  float64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  float64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  float64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49994 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.2+ MB

The dataframe should have 19 column names.

In [7]:
df.columns

Index(['business_code', 'cust_number', 'name_customer', 'clear_date',
       'buisness_year', 'doc_id', 'posting_date', 'document_create_date',
       'document_create_date.1', 'due_in_date', 'invoice_currency',
       'document type', 'posting_id', 'area_business', 'total_open_amount',
       'baseline_create_date', 'cust_payment_terms', 'invoice_id', 'isOpen'],
      dtype='object')

Descriptives of the whole dataset.

In [8]:
df.describe()

,buisness_year,doc_id,document_create_date,document_create_date.1,due_in_date,posting_id,area_business,total_open_amount,baseline_create_date,invoice_id,isOpen
count,50000.000000,5.000000e+04,5.000000e+04,5.000000e+04,5.000000e+04,50000.0,0.0,50000.000000,5.000000e+04,4.999400e+04,50000.000000
mean,2019.305700,2.012238e+09,2.019351e+07,2.019354e+07,2.019368e+07,1.0,NaN,32337.021651,2.019354e+07,2.011340e+09,0.200000
std,0.460708,2.885235e+08,4.496041e+03,4.482134e+03,4.470614e+03,0.0,NaN,39205.975231,4.482701e+03,2.766335e+08,0.400004
min,2019.000000,1.928502e+09,2.018123e+07,2.018123e+07,2.018122e+07,1.0,NaN,0.720000,2.018121e+07,1.928502e+09,0.000000
25%,2019.000000,1.929342e+09,2.019050e+07,2.019051e+07,2.019052e+07,1.0,NaN,4928.312500,2.019050e+07,1.929342e+09,0.000000
50%,2019.000000,1.929964e+09,2.019091e+07,2.019091e+07,2.019093e+07,1.0,NaN,17609.010000,2.019091e+07,1.929964e+09,0.000000
75%,2020.000000,1.930619e+09,2.020013e+07,2.020013e+07,2.020022e+07,1.0,NaN,47133.635000,2.020013e+07,1.930619e+09,0.000000
max,2020.000000,9.500000e+09,2.020052e+07,2.020052e+07,2.020071e+07,1.0,NaN,668593.360000,2.020052e+07,2.960636e+09,1.000000

# Data cleaning

In [9]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0

Null values in percentages against every column.

In [10]:
null_count = df.isnull().sum()*100/50000
print("Column Name\tPercentage of Null Values\n")
for i,per in zip(df.columns,null_count):
    print(f"{i}\t {round(per, ndigits=4)}%")

Column Name	Percentage of Null Values

business_code	 0.0%
cust_number	 0.0%
name_customer	 0.0%
clear_date	 20.0%
buisness_year	 0.0%
doc_id	 0.0%
posting_date	 0.0%
document_create_date	 0.0%
document_create_date.1	 0.0%
due_in_date	 0.0%
invoice_currency	 0.0%
document type	 0.0%
posting_id	 0.0%
area_business	 100.0%
total_open_amount	 0.0%
baseline_create_date	 0.0%
cust_payment_terms	 0.0%
invoice_id	 0.012%
isOpen	 0.0%

Eliminate entries with the same doc_id and invoice_id.

In [11]:
df[['invoice_id', 'doc_id']]

         invoice_id        doc_id
0      1.930438e+09  1.930438e+09
1      1.929646e+09  1.929646e+09
2      1.929874e+09  1.929874e+09
3      2.960623e+09  2.960623e+09
4      1.930148e+09  1.930148e+09
...             ...           ...
49995  1.930797e+09  1.930797e+09
49996  1.929744e+09  1.929744e+09
49997  1.930537e+09  1.930537e+09
49998  1.930199e+09  1.930199e+09
49999  1.928576e+09  1.928576e+09

[50000 rows x 2 columns]

In [12]:
(df['doc_id'] == df['invoice_id']).sum()

49994

Remove duplicates.

In [13]:
df[df.duplicated(keep = 'first')]

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
1041,U001,0200769623,WAL-MAR in,2019-03-12 00:00:00,2019.0,1.928870e+09,2019-02-28,20190227,20190228,20190315.0,USD,RV,1.0,NaN,19557.41,20190228.0,NAH4,1.928870e+09,0
2400,U001,0200769623,WAL-MAR trust,2019-08-28 00:00:00,2019.0,1.929758e+09,2019-08-18,20190817,20190818,20190902.0,USD,RV,1.0,NaN,5600.41,20190818.0,NAH4,1.929758e+09,0
2584,U001,0200769623,WAL-MAR corporation,2019-12-16 00:00:00,2019.0,1.930217e+09,2019-12-04,20191204,20191204,20191219.0,USD,RV,1.0,NaN,35352.17,20191204.0,NAH4,1.930217e+09,0
3755,U001,0200769623,WAL-MAR,2019-11-22 00:00:00,2019.0,1.930137e+09,2019-11-12,20191111,20191112,20191127.0,USD,RV,1.0,NaN,2982.64,20191112.0,NAH4,1.930137e+09,0
3873,CA02,0140104409,LOB associates,NaN,2020.0,2.960629e+09,2020-04-14,20200414,20200414,20200425.0,CAD,RV,1.0,NaN,82975.82,20200415.0,CA10,2.960629e+09,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49928,U001,0200915438,GROC trust,2019-08-15 00:00:00,2019.0,1.929646e+09,2019-07-25,20190722,20190725,20190809.0,USD,RV,1.0,NaN,6969.00,20190725.0,NAA8,1.929646e+09,0
49963,U001,0200759878,SA us,2019-01-29 00:00:00,2019.0,1.928614e+09,2019-01-13,20190112,20190113,20190128.0,USD,RV,1.0,NaN,10968.24,20190113.0,NAH4,1.928614e+09,0
49986,U001,0200772670,ASSOCIAT foundation,2019-06-12 00:00:00,2019.0,1.929403e+09,2019-05-29,20190530,20190529,20190613.0,USD,RV,1.0,NaN,155837.53,20190529.0,NAU5,1.929403e+09,0
49990,U001,0200765011,MAINES llc,2019-06-06 00:00:00,2019.0,1.929365e+09,2019-05-22,20190522,20190522,20190606.0,USD,RV,1.0,NaN,4008.05,20190522.0,NAA8,1.929365e+09,0
49991,U001,0200704045,RA trust,2019-10-25 00:00:00,2019.0,1.930001e+09,2019-10-10,20191011,20191010,20191025.0,USD,RV,1.0,NaN,73002.24,20191010.0,NAA8,1.930001e+09,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48839 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           48839 non-null  object
 1   cust_number             48839 non-null  object
 2   name_customer           48839 non-null  object
 3   clear_date              39158 non-null  object
 4   buisness_year           48839 non-null  float64
 5   doc_id                  48839 non-null  float64
 6   posting_date            48839 non-null  object
 7   document_create_date    48839 non-null  int64
 8   document_create_date.1  48839 non-null  int64
 9   due_in_date             48839 non-null  float64
 10  invoice_currency        48839 non-null  object
 11  document type           48839 non-null  object
 12  posting_id              48839 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       48839 non-null  float64
 15  baseline_create_date    48839 non-null  float64
 16  cust_payment_terms      48839 non-null  object
 17  invoice_id              48833 non-null  float64
 18  isOpen                  48839 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.5+ MB

There are 1161 rows that need to be removed due to containing duplicates.

In [20]:
df=df.drop_duplicates(keep = 'first')

Check whether the duplicates are removed, the outcome should be 0.

In [21]:
(df.duplicated()==True).sum()

0

Check the null values per column.

In [22]:
df.isnull().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                 9681
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             48839
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    6
isOpen                        0
dtype: int64

## Drop columns

In [30]:
drop_cols = ['business_code','clear_date','document_create_date','document_create_date.1','due_in_date','document type','area_business','baseline_create_date','cust_payment_terms']
df=df.drop(columns=drop_cols)

KeyError: "['business_code' 'clear_date' 'document_create_date'\n 'document_create_date.1' 'due_in_date' 'document type' 'area_business'\n 'baseline_create_date' 'cust_payment_terms'] not found in axis"

In [31]:
df.head()

,cust_number,name_customer,buisness_year,doc_id,posting_date,invoice_currency,posting_id,total_open_amount,invoice_id,isOpen
0,0200769623,WAL-MAR corp,2020.0,1.930438e+09,2020-01-26,USD,1.0,54273.28,1.930438e+09,0
1,0200980828,BEN E,2019.0,1.929646e+09,2019-07-22,USD,1.0,79656.60,1.929646e+09,0
2,0200792734,MDV/ trust,2019.0,1.929874e+09,2019-09-14,USD,1.0,2253.86,1.929874e+09,0
3,0140105686,SYSC llc,2020.0,2.960623e+09,2020-03-30,CAD,1.0,3299.70,2.960623e+09,1
4,0200769623,WAL-MAR foundation,2019.0,1.930148e+09,2019-11-13,USD,1.0,33133.29,1.930148e+09,0

# Data type

In [34]:
import numpy as np
import pandas as pd

In [32]:
df.dtypes

cust_number           object
name_customer         object
buisness_year        float64
doc_id               float64
posting_date          object
invoice_currency      object
posting_id           float64
total_open_amount    float64
invoice_id           float64
isOpen                 int64
dtype: object

In [36]:

df['posting_date'] = pd.to_datetime(df['posting_date'])

In [37]:
df.dtypes

cust_number                  object
name_customer                object
buisness_year               float64
doc_id                      float64
posting_date         datetime64[ns]
invoice_currency             object
posting_id                  float64
total_open_amount           float64
invoice_id                  float64
isOpen                        int64
dtype: object

In [39]:
q1 = np.percentile(df.total_open_amount, 25)

In [40]:
q1

4912.395

In [41]:
q3 = np.percentile(df.total_open_amount, 75)

In [42]:
q3

47114.71000000001

In [43]:
iqr = q3 - q1

In [44]:
iqr

42202.315

In [45]:
lower_fence = q1 - 1.5 * iqr

In [46]:
lower_fence

-58391.0775

In [47]:
upper_fence = q3 + 1.5 * iqr

In [48]:
upper_fence

110418.18250000001

In [49]:
outliers = np.where((df.total_open_amount < lower_fence) | (df.total_open_amount > upper_fence))[0]

In [50]:
outliers

array([   14,    79,    93, ..., 48807, 48811, 48828])

# Dash

In [51]:
from dash import Dash, dcc, html, Output, Input
import dash_bootstrap_components as dbc
import plotly.express as px
import pandas as pd

Create app, use bootstrap for the layout.

In [52]:
from dash import Dash, dcc, html, Output, Input

import dash_bootstrap_components as dbc
import plotly.express as px
import pandas as pd

In [53]:
pip install dash_bootstrap_components

Requirement already satisfied: dash_bootstrap_components in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: dash>=2.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash_bootstrap_components) (2.10.2)
Requirement already satisfied: Flask<2.3.0,>=1.0.4 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash>=2.0.0->dash_bootstrap_components) (1.1.2)
Requirement already satisfied: dash-table==5.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash>=2.0.0->dash_bootstrap_components) (5.0.0)
Requirement already satisfied: plotly>=5.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash>=2.0.0->dash_bootstrap_components) (5.9.0)
Requirement already satisfied: dash-html-components==2.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash>=2.0.0->dash_bootstrap_components) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash>=2.0.0->dash_bootstrap_components) (2.0.0)
Requirement already satisfied: Werkzeug<2.3.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from dash>=2.0.0->dash_bootstrap_components) (2.0.3)
Requirement already satisfied: itsdangerous>=0.24 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash>=2.0.0->dash_bootstrap_components) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash>=2.0.0->dash_bootstrap_components) (2.11.3)
Requirement already satisfied: click>=5.1 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash>=2.0.0->dash_bootstrap_components) (8.1.3)
Requirement already satisfied: tenacity>=6.2.0 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from plotly>=5.0.0->dash>=2.0.0->dash_bootstrap_components) (8.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (from Jinja2>=2.10.1->Flask<2.3.0,>=1.0.4->dash>=2.0.0->dash_bootstrap_components) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [54]:
from pathlib import Path

# Create a PosixPath object
path = Path("/Users/jayshreenohar/Downloads/file.txt")

# Convert the PosixPath to a string and expand the user's home directory
expanded_path = str(path.expanduser())

# Use the expanded path
print(expanded_path)

/Users/jayshreenohar/Downloads/file.txt

In [55]:
 pip install pathlib

Requirement already satisfied: pathlib in /Users/jayshreenohar/opt/anaconda3/lib/python3.9/site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

# App layout

In [65]:
from pathlib import Path

# Create a PosixPath object
path = Path('/Users/jayshreenohar/Downloads/file.txt')

# Convert the PosixPath to a string and expand the user's home directory
expanded_path = str(path.expanduser())

# Use the expanded path
print(expanded_path)

/Users/jayshreenohar/Downloads/file.txt

In [66]:
app = Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

In [69]:
app.layout = dbc.Container([
    dbc.Row([
        dbc.Col([
            dcc.Markdown('# A-Assurance tool', style={'textAlign': 'center'})
        ], width=12)
    ]),

    dbc.Row([
        dbc.Col([
            dcc.Markdown('#### Invoice'),
            Invoice_input := dcc.Input(type='float64', value=3, min=1, max=50000)
        ], width=6),

        dbc.Col([
            dcc.Markdown('#### Select price range'),
            price_slider := dcc.RangeSlider(min=df.total_open_amount.min(), max=700000, value=[0, 2500], step=5000,
                                            marks={'0': '0', '500': '500', '1000': '1000',
                                                   '2500': '2500', '5000': '5000',
                                                   '7500': '7500', '10000': '10000'},
                                            tooltip={"placement": "bottom", "always_visible": True}
                                            )
        ], width=6)
    ]),

    dbc.Row([
        dbc.Col([
            gr := dcc.Graph(figure={})
        ], width=12)
    ])
])

In [70]:
if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

OSError: [Errno 48] Address already in use

In [71]:
%tb

OSError: [Errno 48] Address already in use